__pycache__/
.DS_Store
output/
protocol/zigbee2mqtt-data/log/
.vscode
*.log
*.json
protocol/tla/states*

venv/

.venv/
/Users/bnjoroge/Documents/leader_follower/OneDrive - Johns Hopkins  #not sure why it's tracked will figure output
node_modules
checkpoints